<button class="inline-block bg-black">
  Button Text
</button>

<%= tag.button class: "btn btn--primary text-white bg-gradient-to-r from-primary to-primary-rotate hover:filter hover:saturate-[1.4] hover:brightness-[1.15]" do %>
  Primary Button
<% end %>
