<main class="container">
  <div class="header">
    <%= component "button", title: "hello" %>
    <h1 class="colors">Quotes</h1>
    <%= link_to "New quote",
                new_quote_path,
                class: "btn btn--primary" %>
  </div>

  <%= render @quotes %>
</main>
